@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;

} 
.heading-section{
  /* background-color: blue; */
  overflow: hidden;
}
.text-section{
  overflow: hidden;
}
.button-section{
  overflow: hidden;
}
#catch .button-27{
  animation: incomingAni 1s linear;
}
#special .heading-c{
  animation: incomingAni 1s linear;
}
#Snitch .text-c{
  animation: incomingAni 1s linear;
}

.button-30 b{
  font-size: 1.2rem;
}
 .main-div{
  height: 100vh;
  text-align: center;
  color: black;
  font-family: 'EB Garamond', serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/background.jpg');
  background-color: #392647;
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  display: flex;
  gap: 1rem ;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  flex-direction: column;
}
.main-div b{
  font-size: 1.6rem;
}
.main-div h1{
  font-size: 3rem;
}
@media (max-width: 450px) {
  .main-div h1{ 
    font-size: 2rem;
  }
  .main-div b{
    font-size: 1.3rem;
  }
  .heading-c{
    font-size: 1rem;
  }
  .text-c{
    margin-top: 1rem;
  }
  .button-27{
    margin-top: 1rem;
  }
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}
.button-27 a{
  text-decoration: none;
  color: white;
}
.button-27:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
.main-letter-div{
  margin: 0 auto; 
  max-width: 600px; 
  background-image:url(https://i.pinimg.com/originals/cc/c8/a1/ccc8a1ca34050db39dfe04b813b96437.jpg); 
  padding: 10px; 
  border: solid 20px #D2AC47; 
  text-align: left;
}
.hogwarts-crest{
  margin: 0 auto; 
  max-width:480px; 
  height: 100px; 
  text-align:center;
}
.Merry-christmas{
  max-width:500px; 
  margin: 0 auto; 
  padding: 1em; 
  margin-bottom: 20px;
}
.dear{
  font-weight: bold; 
  font-family: cursive; 
  font-size:26px; 
  color:black;
}
.letter-text{
  font-size: 16px;
}
.table-main{
  margin: 0 auto; 
  width:100%;
}
.letter-footer{
  display: flex;
  margin-top: 3rem;
}


@keyframes incomingAni {
  0%{
    transform: translateY(100%);
  }
  50%{
    transform: translateY(65%);
  }
  100%{
    transform: translateY(0%);
  }
}


.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.2rem;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}